---
- name: Create assets container
  rax_files:
    container: "{{ container_name }}"
    public: yes
    ttl: "{{ container_ttl }}"
    region: "{{ region }}"
    credentials: "{{ pyrax_creds_file }}"
  tags: container

#- name: Create CDN rules

- name: Create Load Balancer
  rax_clb:
    credentials: "{{ pyrax_creds_file }}"
    region: "{{ region }}"
    name: "{{ lb_name }}"
    port: 80
    protocol: HTTP
    algorithm: ROUND_ROBIN
    type: PUBLIC
    timeout: 30
    wait: yes
    state: present
  register: clb
  tags: web_nodes

- name: Create scaling group
  rax_scaling_group:
    credentials: "{{ pyrax_creds_file }}"
    region: "{{ region }}"
    cooldown: 60
    flavor: "{{ server_flavor }}"
    image: "{{ lookup('file', 'roles/blueprint-image/files/.img_id') }}"
    min_entities: 2
    max_entities: 10
    name: "{{ autoscale_group_name }}"
    server_name: "{{ server_name }}"
    key_name: "{{ server_keypair }}"
    meta:
      group: "{{ autoscale_group_name }}"
    loadbalancers:
      - id: "{{ clb.balancer.id }}"
        port: "{{ clb.balancer.port|int }}"
    # wait: yes
    # wait_timeout: 500
  register: asg
  tags: web_nodes

- name: Create up scaling policy
  rax_scaling_policy:
    credentials: "{{ pyrax_creds_file }}"
    region: "{{ region }}"
    cooldown: 60
    change: 1
    name: up
    scaling_group: "{{ autoscale_group_name }}"
    policy_type: webhook
    state: present
  register: sg_up
  tags: web_nodes

- name: Create down scaling policy
  rax_scaling_policy:
    credentials: "{{ pyrax_creds_file }}"
    region: "{{ region }}"
    cooldown: 60
    change: 1
    name: down
    scaling_group: "{{ autoscale_group_name }}"
    policy_type: webhook
    state: present
  register: sg_down
  tags: web_nodes

- name: Create webhooks for policies, then associate with notifications
  command: >
    python {{ role_path }}/files/setup_monitoring.py
      --group {{ asg.autoscale_group.id }}
      --up {{ sg_up.autoscale_policy.id }}
      --down {{ sg_down.autoscale_policy.id }}
  when: sg_up.changed == True and sg_down.changed == True
  tags: web_nodes

- name: Add DNS domain
  rax_dns:
    name: "{{ dns_domain }}"
    email: "{{ dns_email }}"
    credentials: "{{ pyrax_creds_file }}"
  when: dns_domain is defined
  tags: dns

- name: Add A-record
  rax_dns_record:
    credentials: "{{ pyrax_creds_file }}"
    domain: "{{ dns_domain }}"
    name: "www.{{ dns_domain }}"
    data: "{{ clb.balancer.virtual_ips[0].address }}"
    type: A
  when: dns_domain is defined
  tags: dns
